@font-face {
    font-family: 'Cascadia';
    src: url('/Fonts/CascadiaCode.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

div.word {
    font-size: 42px;
    font-family: Cascadia, monospace;
    width: fit-content;
    height: fit-content;
    margin: 4px 13px 0 13px;
    padding: 4px 0;
    z-index: 1;
    border-bottom: 4px solid rgba(40, 40, 40, 0);
}

div.word.incorrect {
    border-bottom: #0045b5 4px solid;
}